# Build output
project/Debug/
project/Release/

# CubeIDE metadata
project/.settings/
project/.metadata/
project/*.launch

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.elf
*.bin
*.out
*.app
*.hex
*.map

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# debug information files
*.dwo
